In [1]:
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
time.sleep(2)

MARS NEWS

In [4]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

In [7]:
# Indicate to chrome where you would like the browswer to navigate to
browser.visit(url)
time.sleep(1)

In [8]:
# Retrieve the HTML data from browswer
html = browser.html

In [9]:
# Create BeautifulSoup object; parse with 'lxml'
soup = bs(html, 'lxml')

In [10]:
# Specify from where you would like the variables to be grabbed
news_title = soup.find_all('div', class_="content_title")[1].text
news_p = soup.find('div', class_="article_teaser_body").text

In [11]:
print(news_title)
print("****************")
print(news_p)

NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars
****************
In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.

JPL IMAGE

In [12]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [13]:
browser.visit(url)
time.sleep(1)

In [14]:
browser.click_link_by_partial_text('FULL IMAGE')

/Users/tyler/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/splinter/driver/webdriver/__init__.py:525: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [15]:
browser.click_link_by_partial_text('more info')

In [16]:
image_link = browser.find_link_by_partial_text('.jpg')

In [17]:
image_url = image_link['href']

In [18]:
print(image_url)

https://photojournal.jpl.nasa.gov/jpeg/PIA11777.jpg

MARS WEATHER TWITTER SCRAPE

In [19]:
# URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'

In [23]:
# Indicate to chrome where you would like the browswer to navigate to
browser.visit(url)
time.sleep(1)

In [24]:
# Retrieve the HTML data from browswer
html = browser.html

In [25]:
# Create BeautifulSoup object; parse with 'lxml'
soup = bs(html, 'lxml')

In [26]:
# Specify from where you would like the variables to be grabbed
mars_weather =  soup.find('div', class_="css-901oao r-jwli3a r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").text

In [27]:
print(mars_weather)

InSight sol 594 (2020-07-28) low -91.8ºC (-133.2ºF) high -16.6ºC (2.2ºF)
winds from the WNW at 8.0 m/s (17.8 mph) gusting to 20.7 m/s (46.4 mph)
pressure at 7.90 hPa

Mars Facts Table Scraping

In [28]:
url = 'https://space-facts.com/mars/'

In [29]:
mars_tables = pd.read_html(url)

In [30]:
mars_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [31]:
info_df = mars_tables[0]
info_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
info_df.columns = ['', 'Value']

In [33]:
info_df.set_index('', inplace=True)

In [34]:
info_df

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [35]:
info_html = info_df.to_html()
info_html = info_html.replace('\n', '')

In [36]:
info_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [37]:
info_df.to_html('Resources/mars_info_df.html')

MARS HEMISPHERE

In [38]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [39]:
# Indicate to chrome where you would like the browswer to navigate to
browser.visit(url)
time.sleep(7)

In [40]:
html = browser.html

In [41]:
soup = bs(html, 'lxml')

In [42]:
hemi_titles = soup.find_all('h3')

In [43]:
hemi_list = []
for title in hemi_titles:
    hemi_list.append(title.text)

In [44]:
url_list = []
for hemi in hemi_list:
    browser.click_link_by_partial_text(hemi)
    time.sleep(1)
    image = browser.find_link_by_partial_text('Sample')
    image_url = image['href']
    url_list.append(image_url)
    browser.back()
    time.sleep(1)

/Users/tyler/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/splinter/driver/webdriver/__init__.py:525: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [46]:
hemisphere_image_urls = []
url_len = len(url_list)

In [47]:
for x in range(0, url_len):
    hemisphere_image_urls.append({"title":hemi_list[x], "img_url":url_list[x]})